body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #cfbfbf;
}

.card-content{
    display: flex;
    flex-direction: column;
    background-color: #111D4A;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    max-width: 800px;
}

img{
    height: 50%;
    object-fit: cover;
}

.card-content-01{
    margin: 10%;
}
.card-title{
    color: #05cbe9;
    font-size: 1.75rem;
    font-family: 'Blinker',sans-serif;
    align-self: flex-start;
    justify-content: left;
}
.card-body{
    color: #d6d3d3;
    font-size: 1.2rem;
    font-family: 'Blinker',sans-serif;
    align-self: flex-start;
    justify-content: left;
}
.card-footer{
    color: #cfbfbf;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    align-items: self-end;
    justify-content: space-between;
}

.text-01{
    width: 10%;
}
.btn-01{
    color: #111D4A;
    background-color: #05cbe9;
    padding: 2%;
    height: 3%;
    border-radius: 5%;
    text-transform: uppercase;
    font-weight: 600;
    align-self: self-end;
}

.btn-01:hover{
    transform: scale(1.1);
}


@media (min-width:675px){
    .card-content{
        flex-direction:row ;
        height: auto;
        margin: 0;
    }

    .card-content-01{
        margin: 0 5%;
    }
}
