body{
    min-height: 100vh;
    background-color: #cfbfbf;
}

.card-content{
    display: grid;
    grid-template: 300px auto auto auto / auto auto ;
    background-color: #111D4A;
    width: 100%;
    height: 100vh;
}

img{
    object-fit: cover;
    grid-row: 1/2;
    grid-column:1/3;
    width: 100%;
    height: 100%;
}

.card-title{
    color: #05cbe9;
    font-size: 1.75rem;
    font-family: 'Blinker',sans-serif;
    grid-row: 2/3;
    grid-column:1/3;
    margin: 1% 8%;
}
.card-body{
    color: #d6d3d3;
    font-size: 1.2rem;
    font-family: 'Blinker',sans-serif;
    grid-row: 3/4;
    grid-column:1/3;
    margin: 1% 8%;
}

.text-01{
    color: #d6d3d3;
    width: 10%;
    grid-row: 4/5;
    grid-column: 1/2;
    align-self: self-end;
    margin: 8%;
}
.btn-01{
    color: #111D4A;
    background-color: #05cbe9;
    padding: 2%;
    height: 20%;
    border-radius: 5%;
    text-transform: uppercase;
    font-weight: 600;
    grid-row: 4/5;
    grid-column: 2/3;
    align-self: self-end;
    margin: 8%;
}

.btn-01:hover{
    transform: scale(1.1);
}


@media (min-width:675px){
    .card-content{
        width: 100%;
        grid-template: 100px 100px 300px/300px 50px auto;
        height: auto;
    }

    img{
        grid-row: 1/-1;
        grid-column:1/2;
        width: 100%;
        height: 100%;
    }

    .card-title{
        grid-row: 1/2;
        grid-column:2/-1;
        margin-top: 5%;
    }
    .card-body{
        grid-row: 2/3;
        grid-column:2/-1;
        margin-top:3%;
    }

    .text-01{
        width: 10%;
        grid-row: 3/4;
        grid-column: 2/3;
        align-self: self-end;
        justify-self: right;
        margin: 20%;
        
    }
    .btn-01{
        grid-row: 3/4;
        grid-column: 3/4;
        height: 10%;
        width: 25%;
        align-self: self-end;
        justify-self: right;
        text-align: center;
        margin: 2%;
        
    }

}
