body{
    min-height: 100vh;
    background-color: #cfbfbf;
}

.card-content{
    display: grid;
    background-color: #111D4A;
    width: 100%;
    height: 100vh;
    grid-template-columns: fr 1fr;
    grid-template-rows: 3fr 1fr 1fr 1fr;
    grid-template-areas: 
    "photo photo"
    "topic topic"
    "subtopic subtopic"
    "footer-01 footer-02";
}

img{
    grid-area: photo;

}

.card-title{
    color: #05cbe9;
    font-size: 1.75rem;
    font-family: 'Blinker',sans-serif;
    grid-area: topic;
    margin: 1% 8%;
}
.card-body{
    color: #d6d3d3;
    font-size: 1.2rem;
    font-family: 'Blinker',sans-serif;
    grid-area: subtopic;
    margin: 1% 8%;
}

.text-01{
    color: #d6d3d3;
    width: 10%;
    grid-area: footer-01;
    align-self: self-end;
    margin: 8%;
}
.btn-01{
    color: #111D4A;
    background-color: #05cbe9;
    padding: 2%;
    height: 20%;
    border-radius: 5%;
    text-transform: uppercase;
    font-weight: 600;
    grid-area: footer-02;
    align-self: self-end;
    margin: 8%;
}

.btn-01:hover{
    transform: scale(1.1);
}


@media (min-width:675px){
    .card-content{
        width: 100%;
        grid-template: 100px 100px 300px/300px 50px auto;
        height: auto;
        grid-gap: 1.5em 0.5em;
    }

    img{
        grid-row: 1/-1;
        grid-column:1/2;
        width: 100%;
        height: 100%;
    }

    .card-title{
        grid-row: 1/2;
        grid-column:2/-1;
        margin-top: 5%;
    }
    .card-body{
        grid-row: 2/3;
        grid-column:2/-1;
    }

    .text-01{
        width: 10%;
        grid-row: 3/4;
        grid-column: 2/3;
        align-self: self-end;
        justify-self: right;
        margin-bottom: 50%;
        
    }
    .btn-01{
        grid-row: 3/4;
        grid-column: 3/4;
        height: 10%;
        width: 25%;
        align-self: self-end;
        justify-self: right;
        text-align: center;
        
    }

}
